<section class="form">
    <div class="container">
        <div class="formPhoto"></div>
        <div class="formInner">
            <div class="formInnerTitle smallTitle">Зареєструвавшись Ви відкриєте нові можливості для себе</div>

            <!-- <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Пароль">
            <label for="checkBoxPersonalData"><input type="checkbox" name="checkBoxPersonalData" id=""> Даю згоду на
                обробку персональних даних</label> -->
            <button class="formInnerBtn btn">Зареєструватись</button>
            <a href="http://" target="_blank" rel="noopener noreferrer">Ви вже приєднались до нас? Увійти.</a>
        </div>
    </div>
</section>