<section class="word" *ngFor="let item of randomWord?">
    <div class="containerWord">
        <div class="wordInner arrow">
            <header class="wordInnerHeader">
                <div class="wordInnerHeaderTitle titleWord">{{randomWord?.name}}</div>
                <div class="wordInnerHeaderOption">
                    <button class="wordInnerHeaderOptionItem">
                        <mat-icon>share</mat-icon>
                        <!-- <svg class="iconOption">
                            <use xlink:href="#share"></use>
                        </svg> -->
                    </button>
                    <button class="wordInnerHeaderOptionItem  library_add">
                        <mat-icon>turned_in_not</mat-icon>
                        <!-- <svg class="iconOption">
                            <use xlink:href="#save"></use>
                        </svg> -->
                    </button>
                </div>
            </header>
            <div class="wordInnerSubtitle subtitle">
                <p class="wordInnerSubtitleParagraph subtitleWord">{{randomWord?.definition}}<br><br>
                    <i>{{randomWord?.example}}</i></p>
            </div>
            <footer class="wordInnerFooter">
                <div class="wordInnerFooterRate">
                    <div class="wordInnerFooterRateItem">
                        <mat-icon>thumb_up</mat-icon>
                        <!-- <svg class="iconRate iconRateUp">
                            <use xlink:href="#tumbUp"></use>
                        </svg> -->
                        <div class="rateTumbUp rateTumb subtitleWord">{{randomWord?.likesCount}}</div>
                    </div>
                    <div class="wordInnerFooterRateItem">
                        <mat-icon>thumb_down</mat-icon>
                        <!-- <svg class="iconRate iconRateDown">
                            <use xlink:href="#tumbDown"></use>
                        </svg> -->
                        <div class="rateTumbDown rateTumb subtitleWord">{{randomWord?.disLikesCount}}</div>
                    </div>

                </div>
                <div class="wordInnerFooterInfo smallTitle">
                    <div class="wordInnerFooterInfoAuthor subtitleWord">{{randomWord?.author}}</div>
                    <div class="wordInnerFooterInfoDatePublication subtitleWord">{{randomWord?.creationDate}}</div>
                </div>
                <div *ngFor="let item of randomWord?.tags" class="wordInnerFooterTag subtitleWord">
                    <a href="">#{{item}}</a>&nbsp;
                </div>
            </footer>
        </div>
    </div>
    <button class="btn wordBtnRandomWord">Згенерувати рандомне слово</button>
</section>
