<section class="word">
    <div class="containerWord">
        <div class="wordInner arrow">
            <header class="wordInnerHeader">
                <div class="wordInnerHeaderTitle title">{{randomWord?.name}}</div>
                <div class="wordInnerHeaderOption">
                    <button class="wordInnerHeaderOptionItem">
                        <svg class="iconOption">
                            <use xlink:href="#share"></use>
                        </svg>
                    </button>
                    <button class="wordInnerHeaderOptionItem">
                        <svg class="iconOption">
                            <use xlink:href="#save"></use>
                        </svg>
                    </button>
                </div>
            </header>
            <div class="wordInnerSubtitle subtitle">
                <p class="wordInnerSubtitleParagraph subtitle">{{randomWord?.definition}}<br><br>
                    <i>{{randomWord?.example}}</i></p>
            </div>
            <footer class="wordInnerFooter">
                <div class="wordInnerFooterRate">
                    <div class="wordInnerFooterRateItem">
                        <svg class="iconRate iconRateUp">
                            <use xlink:href="#tumbUp"></use>
                        </svg>
                        <div class="rateTumbUp rateTumb smallTitle">18</div>
                    </div>
                    <div class="wordInnerFooterRateItem">
                        <svg class="iconRate iconRateDown">
                            <use xlink:href="#tumbDown"></use>
                        </svg>
                        <div class="rateTumbDown rateTumb smallTitle">25</div>
                    </div>

                </div>
                <div class="wordInnerFooterInfo smallTitle">
                    <div class="wordInnerFooterInfoAuthor ">IRYNA</div>
                    <div class="wordInnerFooterInfoDatePublication">May 03, 2020</div>
                </div>
                <div class="wordInnerFooterTag">
                    <a href="">#tag</a>&nbsp;
                    <a href="">#tag</a>&nbsp;
                    <a href="">#tag</a>&nbsp;
                    <a href="">#tag</a>&nbsp;
                    <a href="">#tag</a>&nbsp;
                </div>
            </footer>
        </div>
    </div>
    <button class="btn wordBtnRandomWord">Згенерувати рандомне слово</button>
</section>
