<div class="body">
    <div class="container">
      <div class="box"></div>
      <div class="container-forms">
        <div class="container-info">
          <div class="info-item">
            <div class="table">
              <div class="table-cell">
                <p>
                  Уже маєте акаунт?
                </p>
                <div class="btn">
                  Увійти
                </div>
              </div>
            </div>
          </div>
          <div class="info-item">
            <div class="table">
              <div class="table-cell">
                <p>
                  Немає акаунту?
                </p>
                <div class="btn">
                  Зареєструватись
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-form">
          <div class="form-item log-in">
            <div class="table">
              <div class="table-cell input-table-cell">
                <input name="email" placeholder="Email" type="email" />
                <input name="password" placeholder="Пароль" type="password" />
                <div class="btn">
                  Вхід
                </div>
              </div>
            </div>
          </div>
          <div class="form-item sign-up">
            <div class="table">
              <div class="table-cell input-table-cell">
                <input name="email" placeholder="Email" type="email" id="email"/>
                <!-- <label for="email">Email</label> -->
                <input name="name" placeholder="Ім'я користувача" type="text" />
                <input name="password" placeholder="Пароль" type="Password" />
                <div class="btn">
                  Створити
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>