.header {
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #212529;
}

.headerInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 20px;

    /* margin: 8px; */
}

.headerLogoInner {
    cursor: pointer;
    text-align-last: right;
    display: flex;
    color: #1D809F;
    margin-bottom: 13px;
    /* color: #ECB807; */
}

.addNewWord {
    display: flex;
    margin-top: 30px;
}

.btn:hover {
    background-color: #155c74;
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
}

.link {
    color: #EAEAEA;
    font-size: 24px;
    margin: 4px;
}
hr{
    width: 100%;
background: #000;}


