<header class="header">
    <div class="headerInner">
        <div class="headerLogo">
            <div [routerLink]="['/']" class="headerLogoInner subtitle">Urban dictionary</div>
            <app-button-create-new-word class="headerNavItemAddNewWord">
            </app-button-create-new-word>
            <!-- <button [routerLink]="['/addNewWord']" class="headerNavItemAddNewWord btn addNewWord">Створити</button> -->
        </div>
        <hr>
        <nav class="headerNav">
            <div class="headerNavItem">
            </div>
            <div class="headerNavItem">
                <a mat-button [routerLink]="['/saved']" class="headerNavItemSaved link saved">Збережені</a>
            </div>
            <div class="headerNavItem">
                <a mat-button [routerLink]="['/myWords']" class="headerNavItemMyWord link myWord">Мої слова</a>
            </div>
            <div class="headerNavItem" >
                <a mat-button [routerLink]="['/admin']" class="headerNavItemMyWord link myWord">Адмін</a>
            </div>
            <div class="headerNavItem" >
                <a mat-button [routerLink]="['/moderator']" class="headerNavItemMyWord link myWord">Модератор</a>
            </div>
        </nav>
        <hr>
        <nav class="headerSecondNav">
            <div class="headerSecondNavItem">
                <a mat-button [routerLink]="['/topWords']" class="headerSecondNavItemTopTen link">ТОП-10</a>
            </div>
            <div class="headerSecondNavItem">
                <a mat-button [routerLink]="['/lastAdded']" class="headerSecondNavItem link">Останні додані</a>
            </div>
            <div class="headerSecondNavItem">
                <a mat-button [routerLink]="['/randomWord']" class="headerSecondNavItem link">Рандомні</a>
            </div>


        </nav>
        <hr>
        <a mat-button [routerLink]="['/authorization']" class="headerSecondNavItem link">LogIn</a>
    </div>
</header>