<section class="word">
    <div class="containerWord">
        <div class="wordInner arrow" *ngFor="let word of words">
            <header class="wordInnerHeader">
                <div class="wordInnerHeaderTitle title">{{word.name}}</div>
                <div class="wordInnerHeaderOption">
                    <button class="wordInnerHeaderOptionItem">
                        <svg class="iconOption">
                            <use xlink:href="#share"></use>
                        </svg>
                    </button>
                    <button class="wordInnerHeaderOptionItem">
                        <svg class="iconOption">
                            <use xlink:href="#save"></use>
                        </svg>
                    </button>
                </div>
            </header>
            <div class="wordInnerSubtitle subtitle">
                <p class="wordInnerSubtitleParagraph subtitle">{{word.definition}}<br><br>
                    <i>{{word.example}}</i></p>
            </div>
            <footer class="wordInnerFooter">
                <div class="wordInnerFooterRate">
                    <div class="wordInnerFooterRateItem">
                        <svg class="iconRate iconRateUp">
                            <use xlink:href="#tumbUp"></use>
                        </svg>
                        <div class="rateTumbUp rateTumb smallTitle">{{word.likesCount}}</div>
                    </div>
                    <div class="wordInnerFooterRateItem">
                        <svg class="iconRate iconRateDown">
                            <use xlink:href="#tumbDown"></use>
                        </svg>
                        <div class="rateTumbDown rateTumb smallTitle">{{word.disLikesCount}}</div>
                    </div>

                </div>
                <div class="wordInnerFooterInfo smallTitle">
                    <div class="wordInnerFooterInfoAuthor ">{{word.author}}</div>
                    <div class="wordInnerFooterInfoDatePublication">{{word.creationDate}}</div>
                </div>
                <div class="wordInnerFooterTag" *ngFor="let tag of word.tags">
                    <a href="">{{tag}}</a>&nbsp;
                </div>
            </footer>
        </div>
    </div>
</section>