<section class="topRate">
    <div class="container">
        <div class="topRateTitle title">ТОП - 10</div>
        <div class="topRateByTag">
            <div class="topRateByTagItem">
                <div class="topRateByTagItemWordTag subtitle">#Повсякденні</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
            </div>
            <div class="topRateByTagItem">
                <div class="topRateByTagItemWordTag subtitle">#Діалект</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
            </div>
        </div>
    </div>
</section>