<div class="register-photo" style="background-color: #f8f9fa;">
    <div class="shadow-none form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2 class="text-center" style="font-size: 28px;">Стати Автором</h2>
            <div class="form-group"><input type="email" class="form-control" placeholder="Email" name="email" style="font-size: 18px;" /></div>
            <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Пароль" style="font-size: 18px;" /></div>
            <div class="form-group"><input type="password" class="form-control" name="password-repeat" placeholder="Повторіть Пароль" style="font-size: 18px;" /></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label" style="font-size: 15px;"><input type="checkbox" class="form-check-input" />Даю згоду на обробку персональних даних </label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Зареєструватися</button></div><a class="already" href="#" style="color: rgb(29,128,159);font-size: 17px;">Ви вже приєднались до нас?  Увійти.</a></form>
    </div>
</div>