<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-header></app-header>
    </mat-sidenav>
    <mat-sidenav-content class="contentInner">
        <!-- <app-header-top class="cnt"></app-header-top> -->
        <form action="" class="addWord cnt">
            <label for="word" class="titleWord">Назва слова<input [formControl]="wordNameControl" type="text" name="word" class="addWordInput " placeholder="Слово" required></label>
            <label for="definition" class="titleWord">Значення<textarea [formControl]="definitionControl" name="definition" id="" 
                    placeholder="" required></textarea></label>
            <label for="example" class="titleWord">Приклад<textarea [formControl]="exampleControl" name="" id="" 
                    placeholder=""></textarea></label>
            <label for="tags" class="titleWord">Теги<textarea [formControl]="tagsControl" name="tags" id="" 
                    placeholder="Теги вводити через пробіли"></textarea></label>
                    <button class="btn" (click)="createWord()">Створити слово</button>
        </form>
        <app-footer class="f"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>