.addWord{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.addWordInput{
    
}
label{
    display: flex;
    flex-direction: column;
}
.titleWord{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 5px;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
textarea{
    padding: 10px;
    font-size: 1.0rem;
    min-width: 800px;
    max-width: 800px;
    min-height: 80px;

}
input{
    min-width: 800px;
    max-width: 800px;
    padding: 10px;
}
.btn{
    margin-top: 50px;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #eee; */
  }
.contentInner {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cnt{
    flex: 1 0 auto;
}
.f{
    flex-shrink: 0;
}
@media (max-width:1300px){
    .titleWord{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 5px;
        font-style: normal;
        -webkit-text-size-adjust: 100%;
           -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
                text-size-adjust: 100%;
    }
    textarea{
        padding: 10px;
        font-size: 1.0rem;
        min-width: 700px;
        max-width: 700px;
        min-height: 80px;

    }
    input{
        min-width: 700px;
        max-width: 700px;
        padding: 10px;
    }
}
@media (max-width:1000px){
    .titleWord{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 5px;
        font-style: normal;
        -webkit-text-size-adjust: 100%;
           -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
                text-size-adjust: 100%;
    }
    textarea{
        padding: 10px;
        font-size: 1.0rem;
        min-width: 600px;
        max-width: 600px;
        min-height: 80px;

    }
    input{
        min-width: 600px;
        max-width: 600px;
        padding: 10px;
    }
}
@media (max-width:900px){
    .titleWord{
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 5px;
        font-style: normal;
        -webkit-text-size-adjust: 100%;
           -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
                text-size-adjust: 100%;
    }
    textarea{
        padding: 10px;
        font-size: 1.0rem;
        min-width: 400px;
        max-width: 400px;
        min-height: 80px;

    }
    input{
        min-width: 400px;
        max-width: 400px;
        padding: 10px;
    }
}