<nav class="navbar navbar-dark navbar-expand-lg sticky-top" style="background-color: rgb(29,128,159);padding: 0px 10px;">
    <div class="container-fluid"><a class="navbar-brand d-flex d-xl-flex justify-content-xl-center align-items-xl-center" href="#" style="padding: 0px;min-width: 150px;"><i class="icon ion-ios-bookmarks-outline" id="brand-logo" style="font-size: 70px;margin: -15px 0px;margin-top: -5px;margin-bottom: -5px;"></i><h1 class="text-uppercase d-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="font-size: 20px;margin-left: 8px;margin-bottom: 0px;font-family: Catamaran, sans-serif;">Urban<br />dictionary</h1></a>
        <button
            data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#" style="font-size: 28px;font-family: 'Source Sans Pro', sans-serif;">Теги</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#" style="font-size: 28px;font-family: 'Source Sans Pro', sans-serif;">Топ Останніх</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#" style="font-size: 28px;font-family: 'Source Sans Pro', sans-serif;">Згенерувати Слово</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#" style="font-size: 28px;font-family: 'Source Sans Pro', sans-serif;">Контакти</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#" style="font-size: 28px;font-family: 'Source Sans Pro', sans-serif;">Увійти</a></li>
                </ul>
            </div>
    </div>
</nav>