<section class="topRate">
    <div class="container">
        <div class="topRateTitle title">Останні додані слова</div>
        <div class="topRateByTag">
            <div class="topRateByTagItem">
                <!-- <div class="topRateByTagItemWordTag subtitle">#Повсякденні</div> -->
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
            </div>
            <!-- <div class="topRateByTagItem">
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
                <div class="topRateByTagItemWord">Слово</div>
            </div> -->
        </div>
    </div>
</section>