<footer class="footer text-center" style="background-color: rgb(29,128,159);opacity: 1;filter: brightness(124%);">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item"><a class="text-white d-xl-flex justify-content-xl-center align-items-xl-center social-link rounded-circle" href="#" style="background-color: #f8f9fa;"><i class="icon-social-facebook" style="color: rgb(29,128,159);filter: contrast(100%);font-weight: bold;font-size: 28px;"></i></a></li>
            <li
                class="list-inline-item"><a class="text-white d-xl-flex justify-content-xl-center align-items-xl-center social-link rounded-circle" href="#" style="background-color: #f8f9fa;"><i class="icon-social-github" style="color: rgb(29,128,159);filter: contrast(100%);font-weight: bold;font-size: 28px;"></i></a></li>
                <li
                    class="list-inline-item"><a class="text-white d-xl-flex justify-content-xl-center align-items-xl-center social-link rounded-circle" href="#" style="background-color: #f8f9fa;color: rgb(29,128,159);width: 64px;opacity: 1;"><i class="icon-social-instagram" style="filter: contrast(100%);color: rgb(29,128,159);font-weight: bold;font-size: 28px;"></i></a></li>
        </ul>
        <p class="text-muted mb-0 small" style="color: rgb(255,255,255);filter: brightness(200%);">Всі права захищено © Urban Dictionary 2020</p>
    </div><a class="scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
</footer>